[submodule "Themes/Simply-Love"]
	path = Themes/Simply Love
	url = https://github.com/Simply-Love/Simply-Love-SM5.git
	shallow = true
[submodule "Themes/Simply-Love-SM5"]
	path = Themes/Simply-Love-SM5
	url = https://github.com/robertpelloni/Simply-Love-SM5.git
	shallow = true
[submodule "bobcoin"]
	path = bobcoin
	url = https://github.com/robertpelloni/bobcoin
